{%- macro pretty(text) -%}
{{- text.replace("_", " ") | capitalize -}}
{%- endmacro -%}

{%- macro currency(amount, decimal=true) -%}
{%- if amount == amount | int and not decimal -%}
{{- "%g" | format(amount) -}}
{%- else -%}
{{- "%0.2f" | format(amount) -}}
{%- endif -%}
{%- endmacro -%}

{%- macro sort_code(code) -%}
{{- code[0:2] }}-{{ code[2:4] }}-{{ code[4:6] -}}
{%- endmacro -%}

{% macro account_label(account) -%}
{%- set tag = "strike" if account.closed else "b" -%}
<{{ tag }}>{{ account.description }}</{{ tag }}>
{%- if account.id in balances -%}
{{ " " }}(&pound;{{ currency(balances[account.id].balance) }})
{%- endif -%}
{%- endmacro -%}

{%- macro account_item(account) -%}
<strong>{{ account.description }}</strong> <code>{{ account.type }}</code>
{%- if account.id in balances -%}
<br><i class="fa-fw fas fa-pound-sign"></i> {{ currency(balances[account.id].balance) }}
{%- endif -%}
{%- if account.account_number -%}
<br><i class="fa-fw fas fa-globe"></i> {{ account.account_number }}, {{ sort_code(account.sort_code) }}
{%- endif -%}
{%- endmacro -%}

{%- macro pot_item(pot) -%}
<strong>{{ pot.name }}</strong><br><i class="fa-fw fas fa-pound-sign"></i> {{ currency(pot.balance) }}
{%- endmacro -%}

{%- macro category_icon(category) -%}
{{ {"mondo": "plus-square",
    "general": "box",
    "eating_out": "utensils",
    "expenses": "briefcase",
    "transport": "car",
    "cash": "money-bill-alt",
    "bills": "file-alt",
    "entertainment": "smile",
    "shopping": "shopping-bag",
    "holidays": "plane",
    "groceries": "shopping-basket"}[category] }}
{%- endmacro -%}

<!DOCTYPE html>
<html>
    <head>
        <title>Mondash</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <style>
            body {
                margin-bottom: 1rem;
            }
            h2, h3 {
                margin-top: 1rem;
            }
            h2 small {
                float: right;
                margin-left: 1rem;
            }
            table th:first-child, table td:first-child {
                width: 100%;
            }
            table th:not(:first-child), table td:not(:first-child) {
                white-space: nowrap;
            }
            table th:last-child, table td:last-child {
                text-align: right;
            }
            .card {
                margin-top: 0.5rem;
            }
            .card img, .card .svg-inline--fa {
                margin-right: 0.25rem;
            }
            .card-body {
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
            }
            .card-body {
                font-size: 1.5rem;
            }
            .card-body .row img {
                height: 1.75rem;
                vertical-align: sub;
                border: 1px solid rgba(0, 0, 0, .125);
            }
            .faded {
                opacity: 0.5;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container">
                <span class="navbar-brand">Mondash</span>
                <li class="navbar-text">&pound;{{ currency(balances[default.id].spend_today | abs) }} spent today</li>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="nav-content">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href id="btn-accounts" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ account_label(default) }}</a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                                {%- for account in accounts %}
                                <button class="dropdown-item" type="button"{% if account.closed %} disabled{% endif %}>
                                    {{ account_item(account) }}
                                </button>
                                {%- endfor %}
                                {%- if pots %}
                                <div class="dropdown-divider"></div>
                                {%- for pot in pots %}
                                <button class="dropdown-item" type="button"{% if pot.deleted %} disabled{% endif %}>
                                    {{ pot_item(pot) }}
                                </button>
                                {%- endfor %}
                                {%- endif %}
                                <div class="dropdown-divider"></div>
                                <a href="/logout" class="dropdown-item"><i class="fa-fw fas fa-sign-out-alt"></i> Log out</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            {%- set heading = namespace(month=none, date=none) %}
            {%- for item in items | reverse %}
            {%- if not heading.month == (item.created.month, item.created.year) %}
            {%- set heading.month = (item.created.month, item.created.year) %}
            <h2 id="{{ item.created.strftime("%Y-%m") }}">
                {{ item.created.strftime("%B %Y") }}
                {%- if inbounds[heading.month] %}
                <small class="text-success"><i class="fas fa-plus"></i> {{ currency(inbounds[heading.month] | abs) }}</small>
                {%- endif %}
                {%- if outbounds[heading.month] %}
                <small class="text-danger"><i class="fas fa-minus"></i> {{ currency(outbounds[heading.month] | abs) }}</small>
                {%- endif %}
            </h2>
            <div class="row">
                <div class="col-sm-6">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Category</th>
                                <th><i class="fa-fw fas fa-pound-sign"></i></th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%- for category, amount in categories[heading.month].items() | sort if amount %}
                            <tr>
                                <td>{{ pretty(category.replace("mondo", "top-up")) }}</td>
                                <td class="text-{% if amount > 0 %}success{% else %}danger{% endif %}"><i class="fa-fw fas fa-{% if amount > 0 %}plus{% else %}minus{% endif %}"></i></td>
                                <td class="text-{% if amount > 0 %}success{% else %}danger{% endif %}">{{ currency(amount | abs) }}</td>
                            </tr>
                            {%- endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-6">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Merchant</th>
                                <th><i class="fa-fw fas fa-pound-sign"></i></th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%- for merchant, amount in merchants[heading.month].items() | sort if amount %}
                            <tr>
                                <td>{% if merchant %}{{ merchant }}{% else %}<em>Unidentified</em>{% endif %}</td>
                                <td class="text-{% if amount > 0 %}success{% else %}danger{% endif %}"><i class="fa-fw fas fa-{% if amount > 0 %}plus{% else %}minus{% endif %}"></i></td>
                                <td class="text-{% if amount > 0 %}success{% else %}danger{% endif %}">{{ currency(amount | abs) }}</td>
                            </tr>
                            {%- endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {%- endif %}
            {%- if not heading.date == item.created.date() %}
            {%- set heading.date = item.created.date() %}
            <h3 id="{{ item.created.strftime("%Y-%m-%d") }}">{{ item.created.strftime("%d/%m/%y") }}</h3>
            {%- endif %}
            {%- if item.is_load or item.amount > 0 %}
            {%- set colour = "success" %}
            {%- elif item.amount == 0 %}
            {%- set colour = "secondary" %}
            {%- elif item.decline_reason %}
            {%- set colour = "danger" %}
            {%- elif item.merchant and item.merchant.atm %}
            {%- set colour = "info" %}
            {%- else %}
            {%- set colour = "primary" %}
            {%- endif %}
            <div class="card text-white bg-{{ colour }}{% if item.id in dupes %} faded{% endif %}">
                <div class="card-header">
                    <div class="row">
                        <div class="col"><i class="fas fa-clock"></i> {{ item.created.strftime("%H:%M:%S") }}</div>
                        {%- if item.merchant.address %}
                        <div class="col-sm-auto text-sm-right"><i class="fas fa-{% if item.merchant.online %}desktop{% else %}map-marker-alt{% endif %}"></i> {{ item.merchant.address.short_formatted }}</div>
                        {%- endif %}
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            {%- if item.merchant and item.merchant.logo %}
                            <img src="{{ item.merchant.logo }}">
                            {%- else %}
                            <i class="fas fa-{{ category_icon(item.category) }}"></i>
                            {%- endif %}
                            {%- if item.merchant %}
                            {%- if item.merchant.atm %}
                            <em>Cash withdrawal</em>
                            {%- elif item.merchant.name %}
                            {{ item.merchant.name }}
                            {%- endif %}
                            {%- elif item.counterparty and item.counterparty.name %}
                            {{ item.counterparty.name }}
                            {%- elif item.is_load %}
                            <em>Account top-up</em>
                            {%- endif %}
                        </div>
                        {%- if item.amount %}
                        <div class="col-md-auto text-md-right">
                            <small>&pound;</small>{{ currency(item.amount | abs) }}
                            {%- if item.local_currency and not item.currency == item.local_currency %}
                            ({{ currency(item.local_amount | abs, false) }} {{ item.local_currency }})
                            {%- endif %}
                        </div>
                        {%- endif %}
                    </div>
                </div>
                {%- if item.notes or item.decline_reason %}
                <div class="card-footer">
                    <div class="row">
                        {%- if item.notes %}
                        <div class="col"><i class="fas fa-sticky-note"></i> {{ item.notes }}</div>
                        {%- endif %}
                        {%- if item.decline_reason %}
                        <div class="col-sm-auto"><i class="fas fa-minus-circle"></i> {{ pretty(item.decline_reason) }}</div>
                        {%- endif %}
                    </div>
                </div>
                {%- endif %}
            </div>
            {%- endfor %}
        </div>
        <script src="/static/js/jquery-3.3.1.min.js"></script>
        <script src="/static/js/bootstrap.bundle.min.js"></script>
        <script src="/static/js/fontawesome-all.min.js"></script>
    </body>
</html>
